@font-face {
    font-family: 'Franklin Gothic Book';
    src: url(../fonts/FRABK.ttf);
}

html, body {
    margin: 0;
    font-family: "Franklin Gothic Book";
    background-color: #f0f0f0;
}

#header-wrapper {
    display: block;
    width: 100%;
    min-width: 600px;
    height: 70px;
    margin: 0;
    background-color: #e35353;
}

#ss-logo {
    float: left;
    height: 45px;
    margin: 12px 20px 0 25px;
}

#ss-name {
    float: left;
    margin: 24px 0 0 0;
}

#header-buttons {
    float: right;
    display: block;
    margin: 25px 25px 0 0;
}

.header-btn {
    margin: 0 0 0 15px;
    padding: 6px 15px 8px 15px;
    color: #ffffff;
    text-decoration: none;
    border: 1px #ffffff solid;
    border-radius: 3px;
}

.header-btn-hover {
    transition: background-color 0.3s ease;
    transition: border 0.2s ease;
    background-color: #c83434;
    border: 1px #c83434 solid;
}

#content-container {
    position: relative;
    min-width: 600px;
}

#footer-wrapper {
    width: 100%;
    min-width: 600px;
    height: 60px;
    background-color: #3a3a3a;
}

#social-media-icons {
    float: left;
    margin: 17px 0 0 25px;
}

#social-media-icons a {
    border: none;
}

#social-media-icons a img {
    height: 25px;
    margin: 0 5px 0 0;
    opacity: 0.75;
}

#footer-text {
    float: right;
    margin: 23px 25px 0 0;
    font-size: 13px;
    color: #cdcdcd;
}

#footer-text a {
    color: #cdcdcd;
    text-decoration: none;
    border-bottom: 1px #cdcdcd dotted;
}

.input-control {
    margin: 0 0 10px 0;
    font-family: 'Franklin Gothic Book';
    font-size: 15px;
    appearance: none;
    box-shadow: none;
    border-radius: 3px;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.btn {
    font-family: "Franklin Gothic Book";
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    background-color: #e35353;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error-message {
    display: inline-block;
    font-family: 'Franklin Gothic Book';
    font-size: 11pt;
    color: #ba2a2a;
    background-color: #f7d0d0;
    padding: 10px;
    border-radius: 3px;
    font-weight: normal;
}

.error-message:empty {
    display: none;
}

.validation-failed {
    background-color: #f7e2e2;
}

.ui-messages-info, 
.ui-messages-warn, 
.ui-messages-error, 
.ui-messages-fatal {
    display: inline-block;
    margin: 10px 0 0 0;
    font-family: 'Franklin Gothic Book';
    font-size: 11pt;
    font-weight: normal;
    color: #ba2a2a;
    background-color: #f7d0d0;
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 440px;
}

.ui-messages-info-summary, 
.ui-messages-warn-summary, 
.ui-messages-error-summary, 
.ui-messages-fatal-summary {
    display: block;
    margin: 0;
    padding: 1px;
    font-weight: normal;
}