#map {
    width: 100%;
    min-width: 600px;
    min-height: 100px;
    margin: 0;
    position: absolute;
}

#map-loading {
    width: 100%;
    min-width: 600px;
    min-height: 100px;
    margin: 0;
    position: absolute;
    background: url(../images/loading.gif) no-repeat;
    background-size: 64px 22px;
    background-color: #ffffff;
    z-index: 5;
}

#show-menu {
    width: 40px;
    position: absolute;
    top: 25px;
    left: 28px;
    cursor: pointer;
    z-index: 2;
}

#map-menu {
    width: 260px; /* Total width will be 305px after padding and shadow */
    min-height: 100px;
    left: -305px;
    position: absolute;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.15);
    z-index: 3;
}

#map-menu-title {
    float: left;
    margin-top: 2px;
    font-size: 13px;
    text-transform: uppercase;
    color: #bbbbbb;
}

#map-menu-close {
    width: 20px;
    float: right;
    opacity: 0.7;
    cursor: pointer;
}

#map-menu-search {
    margin-top: 22px;
    width: 238px;
}

#map-menu-pin {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 260px;
    padding: 20px;
    background-color: #f8f8f8;
    z-index: 4;
}

#map-menu-pin-close {
    width: 20px;
    float: right;
    opacity: 0.7;
    cursor: pointer;
}

#map-menu-pin-pic {
    margin: 50px 0 0 75px;
    width: 100px;
}

#map-menu-pin-message {
    margin-top: 16px;
    padding: 5px;
    font-size: 16px;
}

#map-message-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#map-message {
    display: inline-block;
    visibility: hidden;
    background-color: rgba(0,0,0,0.4);
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px 20px 8px 20px;
    color: #ffffff;
    border-radius: 20px;
}

#hidden-add-pin-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    z-index: -1;
}

.add-pin-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 25px 30px 0;
    width: 70px;
    height: 70px;
    background: url(../images/add-pin.png) no-repeat bottom right;
    background-size: 100%;
    cursor: pointer;
    z-index: 3;
}

.add-pin-button-hover {
    background: url(../images/add-pin-hover.png) no-repeat bottom right;
    background-size: 100%;
}

.pin-wrapper {
    position: absolute;
    height: 50px;
    width: 280px;
    cursor: pointer;
}

.pin-pic {
    height: 45px;
    margin: 3px 6px 0 0;
    float: left;
}

.pin-text { 
    display: block;
    height: 27px;
    width: 200px;
    font-size: 14px;
    padding: 9px 8px 0 8px;
    margin-top: 4px;
    background-color: white;
    border: 1px #ffffff solid;
    border-radius: 3px;
    float: left;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pin-text-arrow {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 7px;
    float: left;
    margin-left: -10px;
    margin-top: 15px;
}