#map {
    width: 100%;
    min-width: 650px;
    min-height: 100px;
    margin: 0;
    position: absolute;
}

#map-loading {
    width: 100%;
    min-width: 650px;
    min-height: 100px;
    margin: 0;
    position: absolute;
    background: url(../images/loading.gif) no-repeat;
    background-size: 64px 22px;
    background-color: #ffffff;
    z-index: 6;
}

#show-menu {
    width: 40px;
    position: absolute;
    top: 25px;
    left: 28px;
    cursor: pointer;
    z-index: 2;
}

/* -----------------
   START MENU REGION 
   ----------------- */

#map-menu {
    width: 260px; /* Total width will be 305px after padding and shadow */
    min-height: 100px;
    left: -305px;
    position: absolute;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.15);
    z-index: 3;
}

#map-menu-title {
    float: left;
    margin-top: 2px;
    font-size: 13px;
    text-transform: uppercase;
    color: #bbbbbb;
}

#map-menu-close {
    width: 20px;
    float: right;
    opacity: 0.7;
    cursor: pointer;
}

#map-menu-change-loc {
    float: left;
    width: 198px;
    margin-top: 25px;
    border-radius: 3px 0 0 3px;
}

#map-menu-change-loc-btn {
    width: 40px;
    height: 39px;       /* Height and margin-top off 1px from matching text box... why? */
    margin-top: 24px;
    float: left;
    background-color: #79aceb;
    border: 1px #5090e0 solid;
    border-radius: 0 3px 3px 0;
}

#map-menu-change-loc-btn img {
    width: 20px;
}

.map-menu-divider {
    display: block;
    width: 100%;
    height: 1px;
    margin: 13px 0 13px 0;
    border: 0;
    border-top: 1px solid #dddddd;
}

#map-menu-filter-keyword {
    margin-top: 10px;
    width: 238px;
    float: left;
    border-radius: 3px;
}

#map-menu-sort-filter {
    font-size: 15px;
}

#map-menu-sort-select {
    margin-left: 10px;
    width: 167px;
    padding: 5px;
    height: 32px;
}

#map-menu-distance-filter {
    float: left;
    font-size: 15px;
}

#map-menu-distance-input {
    width: 35px;
    padding: 5px;
}

#map-menu-pin {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 260px;
    padding: 20px;
    background-color: #f8f8f8;
    z-index: 4;
}

#map-menu-pin-close {
    width: 20px;
    float: right;
    opacity: 0.7;
    cursor: pointer;
}

#map-menu-pin-pic {
    margin: 50px 0 0 75px;
    width: 100px;
}

#map-menu-pin-title {
    margin-top: 16px;
    padding: 5px;
    font-size: 16px;
}

/* -----------------
   END MENU REGION 
   ----------------- */

#map-message-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#map-message {
    display: inline-block;
    visibility: hidden;
    background-color: rgba(0,0,0,0.4);
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px 20px 8px 20px;
    color: #ffffff;
    border-radius: 20px;
}

#hidden-add-pin-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    z-index: -1;
}

.add-pin-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 25px 30px 0;
    width: 70px;
    height: 70px;
    background: url(../images/add-pin.png) no-repeat bottom right;
    background-size: 100%;
    cursor: pointer;
    z-index: 3;
}

.add-pin-button:hover {
    background: url(../images/add-pin-hover.png) no-repeat bottom right;
    background-size: 100%;
}

#JSFFrameId {
    display: none;
}

/* -----------------
   START DIALOG REGION 
   ----------------- */

#create-pin-dialog {
    display: none;
    background-color: #f0f0f0;
}

#create-pin-form\:title {
    font-family: "Franklin Gothic Book" !important;
    margin-top: 7px;
    width: 246px;
}

#create-pin-form\:description {
    font-family: "Franklin Gothic Book" !important;
    width: 246px;
    height: 60px;
    resize:vertical;
}

#create-pin-form\:browse-btn {
    width: 266px;
    margin: 5px 0 12px 0;
    font-family: "Franklin Gothic Book" !important;
    font-size: 14px;
}

#create-pin-form\:create-btn {
    float: right;
    font-family: "Franklin Gothic Book" !important;
    margin: 0 0 10px 0;
}

#create-pin-form\:cancel-btn {
    float: right;
    font-family: "Franklin Gothic Book" !important;
    background-color: #999999;
    margin: 0 0 10px 10px;
}

#enter-loc-dialog {
    display: none;
    background-color: #f0f0f0;
}

#enter-loc-message {
    font-family: "Franklin Gothic Book" !important;
    margin-top: 8px;
    width: 346px;
}

#enter-loc-form\:loc {
    font-family: "Franklin Gothic Book" !important;
    margin-top: 15px;
    width: 346px;
}

#enter-loc-form\:continue-btn {
    float: right;
    font-family: "Franklin Gothic Book" !important;
    margin: 0 0 10px 0;
}

/* -----------------
   END DIALOG REGION 
   ----------------- */

/* --------------------
   START MAP PIN REGION
   -------------------- */

.pin-wrapper {
    position: absolute;
    height: 50px;
    width: 280px;
}

.pin-pic {
    height: 45px;
    margin: 3px 6px 0 0;
    float: left;
    cursor: pointer;
}

.pin-text { 
    display: none;
    height: 27px;
    width: auto;
    max-width: 200px;
    font-size: 14px;
    padding: 9px 8px 0 8px;
    margin-top: 4px;
    background-color: white;
    border-radius: 3px;
    float: left;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pin-text-arrow {
    display: none;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 7px;
    float: left;
    margin-left: -10px;
    margin-top: 15px;
}

/* ------------------
   END MAP PIN REGION
   ------------------ */

#map-menu-pins-list {
    float: left;
    clear: both;
    overflow-y: scroll;
    height: 600px;
    margin-top: 20px;
}

.pins-list-pin-wrapper {
    float: left;
    width: 242px;
    overflow: hidden;
    clear: both;
}

.pins-list-pin-text-wrapper {
    float: left;
    width: 165px;
    margin-bottom: 10px;
}

.pins-list-pin-title {
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-bottom: 5px;
}

.pins-list-pin-desc {
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 17px;
    height: 34px;
}

.pins-list-pin-img {
    float: right;
    width: 55px;
    margin: 5px 7px 0 0;
}

.pins-list-pin-view {
    float: left;
    clear: both;
    font-size: 13px;
    cursor: pointer;
    color: #5090e0;
}

.pins-list-pin-date {
    float: left;
    font-size: 13px;
    color: #777777;
}

.pins-list-pin-votes {
    float: left;
    font-size: 13px;
    color: #777777;
}

.pins-list-pin-divider {
    display: block;
    width: 230px;
    height: 1px;
    margin: 15px 0 15px 0;
    border: 0;
    border-top: 1px solid #cccccc;
    float: left;
    clear: both;
}