#my-account-form\:delete-btn {
    float: none;
    font-family: "Franklin Gothic Book" !important;
    background-color: #79aceb;
    margin: 0 0 10px 10px;
}

#my-account-form\:edit-btn {
    float: none;
    font-family: "Franklin Gothic Book" !important;
    background-color: #79aceb;
    margin: 0 0 10px 10px;
}